* {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    border: 0 0 0 0;
}

.main {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(103,9,121,1) 100%);
    padding-top: 25px;
    padding-bottom: 25px;
    width: 100%;
}

.block_1 {
    max-width: 800px;
    background: rgb(52,44,54);
background: linear-gradient(90deg, rgba(52,44,54,1) 0%, rgba(2,0,36,1) 100%);
    margin: 0 auto;
    margin-top: 20px;
    padding: 10px;
    border-radius: 20px;
}

.block_1 img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    margin-bottom: 20px;
}

.foot {
    letter-spacing: 1px;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(103,9,121,1) 100%);
    color: #fff;
    width: 100%;
    display: block;
}

.foot h3 {
    font-size: 50px;
    padding: 50px 0 0 0;
}

.foot h4 {
    font-size: 20px;
    padding: 0 0 50px;
}

.foot h3,
.foot h4 {
    margin-left: 50px;
    width: 90%;
    text-align: center;
}

.foot a {
    color: #fff;
    text-decoration: underline;
    line-height: 20%;
}